.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details h1 {
    font-size: 2em;

}

.book-details h5 {
    color: var(--clr2);
}

.book-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.on-sale-badge {
    position: absolute;
    top: 17px;
    left: -25px;

    background-color: red;
    color: white;
    padding: 2px 25px;
    transform: rotate(-45deg);
    font-weight: bold;
}